.default-color0.chart-series-line {
    -fx-stroke: #FF0101;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #616162;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";
}