.data0.chart-bar {
     -fx-background-color: #013CFF;
 }

.data1.chart-bar {
    -fx-background-color: #013CFF;
}

.data2.chart-bar {
    -fx-background-color: #013CFF;
}

.data3.chart-bar {
    -fx-background-color: #013CFF;
}

.data4.chart-bar {
    -fx-background-color: #013CFF;
}

.data5.chart-bar {
    -fx-background-color: #013CFF;
}

.data6.chart-bar {
    -fx-background-color: #013CFF;
}

.data7.chart-bar {
    -fx-background-color: #013CFF;
}

.data8.chart-bar {
    -fx-background-color: #013CFF;
}

.data9.chart-bar {
    -fx-background-color: #013CFF;
}

.data10.chart-bar {
    -fx-background-color: #013CFF;
}

.data11.chart-bar {
    -fx-background-color: #013CFF;
}

.data12.chart-bar {
    -fx-background-color: #013CFF;
}

.data13.chart-bar {
    -fx-background-color: #013CFF;
}

.data14.chart-bar {
    -fx-background-color: #013CFF;
}

.data15.chart-bar {
    -fx-background-color: #013CFF;
}

.data16.chart-bar {
    -fx-background-color: #013CFF;
}

.data17.chart-bar {
    -fx-background-color: #013CFF;
}

.data18.chart-bar {
    -fx-background-color: #013CFF;
}

.data19.chart-bar {
    -fx-background-color: #013CFF;
}

.data20.chart-bar {
    -fx-background-color: #013CFF;
}

.data21.chart-bar {
    -fx-background-color: #013CFF;
}

.data22.chart-bar {
    -fx-background-color: #013CFF;
}

.data23.chart-bar {
    -fx-background-color: #013CFF;
}

.data24.chart-bar {
    -fx-background-color: #013CFF;
}

.data25.chart-bar {
    -fx-background-color: #013CFF;
}

.data26.chart-bar {
    -fx-background-color: #013CFF;
}

.data27.chart-bar {
    -fx-background-color: #013CFF;
}

.data28.chart-bar {
    -fx-background-color: #013CFF;
}

.data29.chart-bar {
    -fx-background-color: #013CFF;
}

.data30.chart-bar {
    -fx-background-color: #013CFF;
}

.data31.chart-bar {
    -fx-background-color: #013CFF;
}

.data32.chart-bar {
    -fx-background-color: #013CFF;
}

.data33.chart-bar {
    -fx-background-color: #013CFF;
}

.data34.chart-bar {
    -fx-background-color: #013CFF;
}

.data35.chart-bar {
    -fx-background-color: #013CFF;
}

.data36.chart-bar {
    -fx-background-color: #013CFF;
}

.data37.chart-bar {
    -fx-background-color: #013CFF;
}

.data38.chart-bar {
    -fx-background-color: #013CFF;
}

.data39.chart-bar {
    -fx-background-color: #013CFF;
}

.data40.chart-bar {
    -fx-background-color: #013CFF;
}

.data41.chart-bar {
    -fx-background-color: #013CFF;
}

.data42.chart-bar {
    -fx-background-color: #013CFF;
}

.data43.chart-bar {
    -fx-background-color: #013CFF;
}

.data44.chart-bar {
    -fx-background-color: #013CFF;
}

.data45.chart-bar {
    -fx-background-color: #013CFF;
}

.data46.chart-bar {
    -fx-background-color: #013CFF;
}

.data47.chart-bar {
    -fx-background-color: #013CFF;
}

.data48.chart-bar {
    -fx-background-color: #013CFF;
}

.data49.chart-bar {
    -fx-background-color: #013CFF;
}

.data50.chart-bar {
    -fx-background-color: #013CFF;
}

.data51.chart-bar {
    -fx-background-color: #013CFF;
}

.data52.chart-bar {
    -fx-background-color: #013CFF;
}

.data53.chart-bar {
    -fx-background-color: #013CFF;
}

.data54.chart-bar {
    -fx-background-color: #013CFF;
}

.data55.chart-bar {
    -fx-background-color: #013CFF;
}

.data56.chart-bar {
    -fx-background-color: #013CFF;
}

.data57.chart-bar {
    -fx-background-color: #013CFF;
}

.data58.chart-bar {
    -fx-background-color: #013CFF;
}

.data59.chart-bar {
    -fx-background-color: #013CFF;
}

.data60.chart-bar {
    -fx-background-color: #013CFF;
}

.data61.chart-bar {
    -fx-background-color: #013CFF;
}

.data62.chart-bar {
    -fx-background-color: #013CFF;
}

.data63.chart-bar {
    -fx-background-color: #013CFF;
}

.data64.chart-bar {
    -fx-background-color: #013CFF;
}

.data65.chart-bar {
    -fx-background-color: #013CFF;
}

.data66.chart-bar {
    -fx-background-color: #013CFF;
}

.data67.chart-bar {
    -fx-background-color: #013CFF;
}

.data68.chart-bar {
    -fx-background-color: #013CFF;
}

.data69.chart-bar {
    -fx-background-color: #013CFF;
}

.data70.chart-bar {
    -fx-background-color: #013CFF;
}

.data71.chart-bar {
    -fx-background-color: #013CFF;
}

.data72.chart-bar {
    -fx-background-color: #013CFF;
}

.data73.chart-bar {
    -fx-background-color: #013CFF;
}

.data74.chart-bar {
    -fx-background-color: #013CFF;
}

.data75.chart-bar {
    -fx-background-color: #013CFF;
}

.data76.chart-bar {
    -fx-background-color: #013CFF;
}

.data77.chart-bar {
    -fx-background-color: #013CFF;
}

.data78.chart-bar {
    -fx-background-color: #013CFF;
}

.data79.chart-bar {
    -fx-background-color: #013CFF;
}

.data80.chart-bar {
    -fx-background-color: #013CFF;
}

.data81.chart-bar {
    -fx-background-color: #013CFF;
}

.data82.chart-bar {
    -fx-background-color: #013CFF;
}

.data83.chart-bar {
    -fx-background-color: #013CFF;
}

.data84.chart-bar {
    -fx-background-color: #013CFF;
}

.data85.chart-bar {
    -fx-background-color: #013CFF;
}

.data86.chart-bar {
    -fx-background-color: #013CFF;
}

.data87.chart-bar {
    -fx-background-color: #013CFF;
}

.data88.chart-bar {
    -fx-background-color: #013CFF;
}

.data89.chart-bar {
    -fx-background-color: #013CFF;
}

.data90.chart-bar {
    -fx-background-color: #013CFF;
}

.data91.chart-bar {
    -fx-background-color: #013CFF;
}

.data92.chart-bar {
    -fx-background-color: #013CFF;
}

.data93.chart-bar {
    -fx-background-color: #013CFF;
}

.data94.chart-bar {
    -fx-background-color: #013CFF;
}

.data95.chart-bar {
    -fx-background-color: #013CFF;
}

.data96.chart-bar {
    -fx-background-color: #013CFF;
}

.data97.chart-bar {
    -fx-background-color: #013CFF;
}

.data98.chart-bar {
    -fx-background-color: #013CFF;
}

.data99.chart-bar {
    -fx-background-color: #013CFF;
}

.data100.chart-bar {
    -fx-background-color: #013CFF;
}

.data101.chart-bar {
    -fx-background-color: #013CFF;
}

.data102.chart-bar {
    -fx-background-color: #013CFF;
}

.data103.chart-bar {
    -fx-background-color: #013CFF;
}

.data104.chart-bar {
    -fx-background-color: #013CFF;
}

.data105.chart-bar {
    -fx-background-color: #013CFF;
}

.data106.chart-bar {
    -fx-background-color: #013CFF;
}

.data107.chart-bar {
    -fx-background-color: #013CFF;
}

.data108.chart-bar {
    -fx-background-color: #013CFF;
}

.data109.chart-bar {
    -fx-background-color: #013CFF;
}

.data110.chart-bar {
    -fx-background-color: #013CFF;
}

.data111.chart-bar {
    -fx-background-color: #013CFF;
}

.data112.chart-bar {
    -fx-background-color: #013CFF;
}

.data113.chart-bar {
    -fx-background-color: #013CFF;
}

.data114.chart-bar {
    -fx-background-color: #013CFF;
}

.data115.chart-bar {
    -fx-background-color: #013CFF;
}

.data116.chart-bar {
    -fx-background-color: #013CFF;
}

.data117.chart-bar {
    -fx-background-color: #013CFF;
}

.data118.chart-bar {
    -fx-background-color: #013CFF;
}

.data119.chart-bar {
    -fx-background-color: #013CFF;
}

.data120.chart-bar {
    -fx-background-color: #013CFF;
}

.data121.chart-bar {
    -fx-background-color: #013CFF;
}

.data122.chart-bar {
    -fx-background-color: #013CFF;
}

.data123.chart-bar {
    -fx-background-color: #013CFF;
}

.data124.chart-bar {
    -fx-background-color: #013CFF;
}

.data125.chart-bar {
    -fx-background-color: #013CFF;
}

.data126.chart-bar {
    -fx-background-color: #013CFF;
}

.data127.chart-bar {
    -fx-background-color: #013CFF;
}

.data128.chart-bar {
    -fx-background-color: #013CFF;
}

.data129.chart-bar {
    -fx-background-color: #013CFF;
}

.data130.chart-bar {
    -fx-background-color: #013CFF;
}

.data131.chart-bar {
    -fx-background-color: #013CFF;
}

.data132.chart-bar {
    -fx-background-color: #013CFF;
}

.data133.chart-bar {
    -fx-background-color: #013CFF;
}

.data134.chart-bar {
    -fx-background-color: #013CFF;
}

.data135.chart-bar {
    -fx-background-color: #013CFF;
}

.data136.chart-bar {
    -fx-background-color: #013CFF;
}

.data137.chart-bar {
    -fx-background-color: #013CFF;
}

.data138.chart-bar {
    -fx-background-color: #013CFF;
}

.data139.chart-bar {
    -fx-background-color: #013CFF;
}

.data140.chart-bar {
    -fx-background-color: #013CFF;
}

.data141.chart-bar {
    -fx-background-color: #013CFF;
}

.data142.chart-bar {
    -fx-background-color: #013CFF;
}

.data143.chart-bar {
    -fx-background-color: #013CFF;
}

.data144.chart-bar {
    -fx-background-color: #013CFF;
}

.data145.chart-bar {
    -fx-background-color: #013CFF;
}

.data146.chart-bar {
    -fx-background-color: #013CFF;
}

.data147.chart-bar {
    -fx-background-color: #013CFF;
}

.data148.chart-bar {
    -fx-background-color: #013CFF;
}

.data149.chart-bar {
    -fx-background-color: #013CFF;
}

.data150.chart-bar {
    -fx-background-color: #013CFF;
}

.data151.chart-bar {
    -fx-background-color: #013CFF;
}

.data152.chart-bar {
    -fx-background-color: #013CFF;
}

.data153.chart-bar {
    -fx-background-color: #013CFF;
}

.data154.chart-bar {
    -fx-background-color: #013CFF;
}

.data155.chart-bar {
    -fx-background-color: #013CFF;
}

.data156.chart-bar {
    -fx-background-color: #013CFF;
}

.data157.chart-bar {
    -fx-background-color: #013CFF;
}

.data158.chart-bar {
    -fx-background-color: #013CFF;
}

.data159.chart-bar {
    -fx-background-color: #013CFF;
}

.data160.chart-bar {
    -fx-background-color: #013CFF;
}

.data161.chart-bar {
    -fx-background-color: #013CFF;
}

.data162.chart-bar {
    -fx-background-color: #013CFF;
}

.data163.chart-bar {
    -fx-background-color: #013CFF;
}

.data164.chart-bar {
    -fx-background-color: #013CFF;
}

.data165.chart-bar {
    -fx-background-color: #013CFF;
}

.data166.chart-bar {
    -fx-background-color: #013CFF;
}

.data167.chart-bar {
    -fx-background-color: #013CFF;
}

.data168.chart-bar {
    -fx-background-color: #013CFF;
}

.data169.chart-bar {
    -fx-background-color: #013CFF;
}

.data170.chart-bar {
    -fx-background-color: #013CFF;
}

.data171.chart-bar {
    -fx-background-color: #013CFF;
}

.data172.chart-bar {
    -fx-background-color: #013CFF;
}

.data173.chart-bar {
    -fx-background-color: #013CFF;
}

.data174.chart-bar {
    -fx-background-color: #013CFF;
}

.data175.chart-bar {
    -fx-background-color: #013CFF;
}

.data176.chart-bar {
    -fx-background-color: #013CFF;
}

.data177.chart-bar {
    -fx-background-color: #013CFF;
}

.data178.chart-bar {
    -fx-background-color: #013CFF;
}

.data179.chart-bar {
    -fx-background-color: #013CFF;
}

.data180.chart-bar {
    -fx-background-color: #013CFF;
}

.data181.chart-bar {
    -fx-background-color: #013CFF;
}

.data182.chart-bar {
    -fx-background-color: #013CFF;
}

.data183.chart-bar {
    -fx-background-color: #013CFF;
}

.data184.chart-bar {
    -fx-background-color: #013CFF;
}

.data185.chart-bar {
    -fx-background-color: #013CFF;
}

.data186.chart-bar {
    -fx-background-color: #013CFF;
}

.data187.chart-bar {
    -fx-background-color: #013CFF;
}

.data188.chart-bar {
    -fx-background-color: #013CFF;
}

.data189.chart-bar {
    -fx-background-color: #013CFF;
}

.data190.chart-bar {
    -fx-background-color: #013CFF;
}

.data191.chart-bar {
    -fx-background-color: #013CFF;
}

.data192.chart-bar {
    -fx-background-color: #013CFF;
}

.data193.chart-bar {
    -fx-background-color: #013CFF;
}

.data194.chart-bar {
    -fx-background-color: #013CFF;
}

.data195.chart-bar {
    -fx-background-color: #013CFF;
}

.data196.chart-bar {
    -fx-background-color: #013CFF;
}

.data197.chart-bar {
    -fx-background-color: #013CFF;
}

.data198.chart-bar {
    -fx-background-color: #013CFF;
}

.data199.chart-bar {
    -fx-background-color: #013CFF;
}

.data200.chart-bar {
    -fx-background-color: #013CFF;
}

.data201.chart-bar {
    -fx-background-color: #013CFF;
}

.data202.chart-bar {
    -fx-background-color: #013CFF;
}

.data203.chart-bar {
    -fx-background-color: #013CFF;
}

.data204.chart-bar {
    -fx-background-color: #013CFF;
}

.data205.chart-bar {
    -fx-background-color: #013CFF;
}

.data206.chart-bar {
    -fx-background-color: #013CFF;
}

.data207.chart-bar {
    -fx-background-color: #013CFF;
}

.data208.chart-bar {
    -fx-background-color: #013CFF;
}

.data209.chart-bar {
    -fx-background-color: #013CFF;
}

.data210.chart-bar {
    -fx-background-color: #013CFF;
}

.data211.chart-bar {
    -fx-background-color: #013CFF;
}

.data212.chart-bar {
    -fx-background-color: #013CFF;
}

.data213.chart-bar {
    -fx-background-color: #013CFF;
}

.data214.chart-bar {
    -fx-background-color: #013CFF;
}

.data215.chart-bar {
    -fx-background-color: #013CFF;
}

.data216.chart-bar {
    -fx-background-color: #013CFF;
}

.data217.chart-bar {
    -fx-background-color: #013CFF;
}

.data218.chart-bar {
    -fx-background-color: #013CFF;
}

.data219.chart-bar {
    -fx-background-color: #013CFF;
}

.data220.chart-bar {
    -fx-background-color: #013CFF;
}

.data221.chart-bar {
    -fx-background-color: #013CFF;
}

.data222.chart-bar {
    -fx-background-color: #013CFF;
}

.data223.chart-bar {
    -fx-background-color: #013CFF;
}

.data224.chart-bar {
    -fx-background-color: #013CFF;
}

.data225.chart-bar {
    -fx-background-color: #013CFF;
}

.data226.chart-bar {
    -fx-background-color: #013CFF;
}

.data227.chart-bar {
    -fx-background-color: #013CFF;
}

.data228.chart-bar {
    -fx-background-color: #013CFF;
}

.data229.chart-bar {
    -fx-background-color: #013CFF;
}

.data230.chart-bar {
    -fx-background-color: #013CFF;
}

.data231.chart-bar {
    -fx-background-color: #013CFF;
}

.data232.chart-bar {
    -fx-background-color: #013CFF;
}

.data233.chart-bar {
    -fx-background-color: #013CFF;
}

.data234.chart-bar {
    -fx-background-color: #013CFF;
}

.data235.chart-bar {
    -fx-background-color: #013CFF;
}

.data236.chart-bar {
    -fx-background-color: #013CFF;
}

.data237.chart-bar {
    -fx-background-color: #013CFF;
}

.data238.chart-bar {
    -fx-background-color: #013CFF;
}

.data239.chart-bar {
    -fx-background-color: #013CFF;
}

.data240.chart-bar {
    -fx-background-color: #013CFF;
}

.data241.chart-bar {
    -fx-background-color: #013CFF;
}

.data242.chart-bar {
    -fx-background-color: #013CFF;
}

.data243.chart-bar {
    -fx-background-color: #013CFF;
}

.data244.chart-bar {
    -fx-background-color: #013CFF;
}

.data245.chart-bar {
    -fx-background-color: #013CFF;
}

.data246.chart-bar {
    -fx-background-color: #013CFF;
}

.data247.chart-bar {
    -fx-background-color: #013CFF;
}

.data248.chart-bar {
    -fx-background-color: #013CFF;
}

.data249.chart-bar {
    -fx-background-color: #013CFF;
}

.data250.chart-bar {
    -fx-background-color: #013CFF;
}

.data251.chart-bar {
    -fx-background-color: #013CFF;
}

.data252.chart-bar {
    -fx-background-color: #013CFF;
}

.data253.chart-bar {
    -fx-background-color: #013CFF;
}

.data254.chart-bar {
    -fx-background-color: #013CFF;
}

.data255.chart-bar {
    -fx-background-color: #013CFF;
}