.default-color0.chart-series-line {
    -fx-stroke: #FF0101;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #FF0101;
}

.default-color1.chart-series-line {
    -fx-stroke: #000000;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #000000;
}